%div
  New Appointment
.margin-top-10
  = form_for(@appointment) do |f|
    %table{width: "50%"}
      %tr
        %td{width: "25%"}
          Doctor
        %td
          %select{name: "appointment[doctor_id]"}
            %option{value: nil} Choose A Dcotor
            - @doctors.each do |doctor|
              %option{value: doctor.id}
                = doctor.name
          - if @appointment.errors.any?
            = @appointment.errors.messages[:doctor_id].first if @appointment.errors.messages[:doctor_id].present?
      %tr
        %td{width: "25%"}
          Date
        %td
          = f.text_field :appointment_date
          - if @appointment.errors.any?
            = @appointment.errors.messages[:appointment_date].first if @appointment.errors.messages[:appointment_date].present?
      %tr
        %td{width: "25%"}
          Note
        %td
          = f.text_area :note
          - if @appointment.errors.any?
            = @appointment.errors.messages[:note].first if @appointment.errors.messages[:note].present?
      %tr
        %td{colspan: '2'}
          = f.submit :add
    
